@sp-red: #e4022d;

#root, body, html {
  height: 100%
}

body, html {
  margin: 0;
  padding: 0;
}

body:before{
  content:'';
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background: linear-gradient(180deg, rgba(228, 2, 45, 1) 75%, rgba(99, 1, 19, 1) 100%);
}

h2.example-title {
  padding: 40px;
  font-weight: 500
}
