@sp-red: #da3d44;

#root, body, html {
  height: 100%
}

body, html {
  margin: 0;
  padding: 0;
}

body:before{
  content:'';
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  background: linear-gradient(144deg, rgba(158,210,202,1) 0%, rgba(158,210,202,1) 27%, rgba(219,238,229,1) 100%);

}

h2.example-title {
  padding: 40px;
  font-weight: 500
}
